/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
    font-family: "Poppins", sans-serif;
}

.textColor {
    color: #030F27;
}

.navbarBgDark {
    background: #030F27;
}

.navbar-nav .nav-link.active {
    color: #EDA72F;
}

.nav-link:hover {
    color: #EDA72F;
}

.nav-link {
    color: #fff;
}

.getBtn {
    color: #fff;
}

.sideLine {
    border-right: 1px solid #030F27;
}

.iconHeight {
    height: 24px;
    width: 24px;
}

.main-drag-area {
    min-height: 120px;
    background: transparent;
    border-color: #fff;
    border-style: dashed;
}

@media screen and (min-width: 992px) {
    .sideLine {
        border-right: none;
    }

    .iconHeight {
        height: 46px;
        width: 46px;
    }
}